<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="app.api.Logger$ColoredLevel"/>

    <!-- STDOUT -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- my.log -->
    <appender name="APPLICATION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${MY_LOG_DIR}/my.log</File>
        <withJansi>true</withJansi>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>[APPLICATION]%date %-5level [%thread] [%file:%line] - %msg%n</Pattern>
            </layout>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${MY_LOG_DIR}/my.log.%d{yyyy-MM-dd-HH}</fileNamePattern>
            <!-- keep 3 days worth of history -->
            <maxHistory>72</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC_APPLICATION_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="APPLICATION_LOG"/>
        <queueSize>100000</queueSize>
    </appender>

    <!-- awesome.log -->
    <appender name="AWESOME_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${MY_LOG_DIR}/awesome.log</File>
        <withJansi>true</withJansi>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>[AWESOME]%date %-5level [%thread] [%file:%line] - %msg%n</Pattern>
            </layout>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${MY_LOG_DIR}/awesome.log.%d{yyyy-MM-dd-HH}</fileNamePattern>
            <!-- keep 3 days worth of history -->
            <maxHistory>72</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC_AWESOME_LOG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="AWESOME_LOG"/>
        <queueSize>100000</queueSize>
    </appender>

    <logger name="awesome_log" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_AWESOME_LOG"/>
    </logger>


    <!-- Off these ones as they are annoying, and anyway we manage configuration ourself -->
    <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF"/>
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="APPLICATION_LOG"/>
        <appender-ref ref="AWESOME_LOG"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
